

@model KnowledgeHub.Web.Models.Entities.Catagory

@{
    ViewData["Title"] = "ConfirmDelete";
}

<h1>Confirm Delete</h1>

<div>
    <h4>Catagory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="ConfirmDelete" asp-route-id="@Model?.CatagoryID" class="btn btn-danger">Confirm Delete</a>
    <a asp-action="Index" class="btn btn-info">Cancel</a>
</div>