@{
  // For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
   Layout = null;
}
@{
    <img align="right" src="https://media-exp2.licdn.com/dms/image/C5603AQHvwbJPPSk80A/profile-displayphoto-shrink_200_200/0/1632985392380?e=2147483647&v=beta&t=qIXri656nUpB4GQ9J4ygrNeHg7oZDIv_MgqRhg4CiFc" alt="PARAS JAIN" width="200" />
    <h1>"PARAS JAIN"</h1>
    <h2>"Mobile: +91 7017400419. </h2>
    <h2>E-mail: Paras1111999@gmail.com</h2>
    <h2><a href="https://www.linkedin.com/in/paras-jain-a6618821a/?">linkedln</a> :- https://www.linkedin.com/in/paras-jain-a6618821a/?</h2>
    <img align="middle" src="\images\p1610 crop.jpg" class="img-responsive" alt="yohoho" width="300">

 }
 